.color-nav {
    background-color: #e69af7;
}

.color-texto {
    color: #2e1129;
}

body {
    background-color: #4f3d57;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.col-lg-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4e1e6;

}

footer {
    background-color: #e69af7;
    margin-top: auto;
    
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}




























































